/problema01/sol_java/problema01/nbproject/private/
/problema01/sol_java/problema01/build/
/problema02/sol_java/problema02/nbproject/private/
/problema02/sol_java/problema02/build/
/problema03/sol_java/problema03/nbproject/private/
/problema03/sol_java/problema03/build/
/problema03/sol_java/problema04/nbproject/private/
/problema03/sol_java/problema04/build/
/problema05/sol_java/problema05/nbproject/private/
/problema05/sol_java/problema05/build/
/problema04/sol_java/problema04/nbproject/private/
/problema06/problema06/nbproject/private/
/problema06/sol_java/problema06/build/
/problema08/sol_java/problema08/nbproject/private/
/problema08/sol_java/problema08/build/
